 #region1 {
hAlign:center;
height:fill;
width:fill;
layout:relative;
vAlign:center;
}
 #cm_factory_refRowWidget {
height:46;
background:#ffffff;
layout:hbox;
width:fill;
left:0.0;
valign:center;
top:80.0;
pressed-color:#ff8040;
}
 #panel0 {
halign:center;
height:44;
layout:vbox;
background:#FFFFFF;
width:fill;
}
 #panel1 {
height:0;
weight:1;
layout:hbox;
width:fill;
valign:center;
}
 #label0 {
hAlign:center;
height:wrap;
widthWrap:32.0;
color:#000000;
heightWrap:14.0;
font-size:14;
width:wrap;
font-family:default;
display:none;
vAlign:center;
}
 #label1 {
hAlign:left;
height:20;
color:#000000;
font-size:16;
width:100;
margin-left:8;
margin-bottom:8;
font-family:default;
margin-top:8;
vAlign:center;
}
 #label2 {
hAlign:left;
weight:1;
width:0;
margin-bottom:8;
margin-right:2;
height:20;
color:#000000;
font-size:16;
margin-left:2;
font-family:default;
margin-top:8;
vAlign:center;
}
 #checkbox0 {
halign:LEFT;
height:44;
color:;
font-size:17;
width:44;
check-on-image:choose_normal.png;
font-family:default;
check-off-image:choose_normal_no.png;
}
 #label3 {
hAlign:center;
height:1;
color:#000000;
font-size:14;
background:#c7c7c7;
width:fill;
font-family:default;
left:90.0;
top:170.0;
}
