 #cm_mutfactoryview {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#F5F5F5;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
padding-right:8;
padding-left:8;
halign:LEFT;
height:44.0;
color:#000000;
font-size:17;
layout:hbox;
width:fill;
font-family:default;
valign:center;
background-image:nav.png;
}
 #label1 {
halign:center;
height:wrap;
widthWrap:32.0;
color:#000000;
heightWrap:14.0;
font-size:14;
width:wrap;
font-family:default;
display:none;
valign:center;
}
 #button0 {
padding-left:20;
halign:left;
height:44;
color:#e50011;
pressed-image:btn_back_touch;
font-size:17;
width:88;
font-family:default;
font-pressed-color:#f2adb2;
valign:center;
background-image:btn_back;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #button2 {
halign:center;
height:44;
color:#e50011;
pressed-image:filter_touch.png;
font-size:17;
width:44;
font-family:default;
font-pressed-color:#f2adb2;
valign:center;
background-image:filter.png;
}
 #button1 {
halign:right;
height:44;
color:#e50011;
pressed-image:pie_btn_touch.png;
font-size:17;
width:44;
font-family:default;
display:none;
font-pressed-color:#f2adb2;
valign:center;
background-image:pie_btn.png;
}
 #panel2 {
padding-left:15;
padding-right:15;
padding-top:12;
halign:center;
height:70;
background:#f8f8f8;
layout:vbox;
width:fill;
valign:TOP;
padding-bottom:12;
}
 #panel0 {
halign:LEFT;
height:20.0;
layout:hbox;
background:#f8f8f8;
width:fill;
margin-bottom:8;
valign:center;
}
 #label3 {
halign:center;
height:wrap;
widthWrap:123.0;
color:#000000;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
display:none;
valign:center;
}
 #label4 {
halign:left;
height:fill;
widthWrap:290.0;
color:#000000;
font-size:16;
background:#f8f8f8;
width:wrap;
font-family:default;
valign:center;
}
 #panel1 {
halign:LEFT;
height:17.0;
layout:hbox;
background:#f8f8f8;
width:fill;
valign:center;
}
 #label8 {
halign:center;
height:wrap;
widthWrap:123.0;
color:#000000;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
display:none;
valign:center;
}
 #label9 {
halign:left;
height:fill;
widthWrap:260.0;
color:#000000;
font-size:13;
background:#f8f8f8;
width:wrap;
font-family:default;
valign:center;
}
 #label2 {
halign:center;
height:1;
color:#c7c7c7;
font-size:14;
background:#c7c7c7;
width:fill;
font-family:default;
valign:center;
}
 #listview0 {
height:0;
weight:1;
background:#f6f6f6;
width:fill;
margin-top:1;
pressed-color:#ff8000;
}
