 #region1 {
height:fill;
layout:relative;
width:fill;
}
 #cm_mutifactoryviewRow {
halign:LEFT;
height:70;
layout:hbox;
background:#ffffff;
width:320.0;
left:0.0;
valign:center;
top:160.0;
pressed-color:#ff8000;
}
 #panel0 {
halign:center;
height:70;
layout:vbox;
background:#ffffff;
width:fill;
valign:TOP;
}
 #panel22 {
padding-left:15;
padding-right:15;
halign:LEFT;
height:69;
layout:hbox;
width:fill;
valign:center;
padding-bottom:1;
}
 #panel2 {
padding-top:12;
halign:LEFT;
height:fill;
weight:1;
background:#ffffff;
layout:hbox;
width:0;
valign:center;
padding-bottom:10;
}
 #panel3 {
padding-right:8;
halign:center;
height:fill;
layout:vbox;
background:#ffffff;
width:fill;
valign:TOP;
}
 #panel5 {
halign:LEFT;
height:17;
layout:hbox;
background:#ffffff;
width:fill;
margin-bottom:8;
valign:top;
}
 #label0 {
halign:left;
height:fill;
weight:123;
color:#000000;
font-size:13;
width:0;
font-family:default;
valign:center;
}
 #label9 {
halign:center;
height:wrap;
widthWrap:34.0;
color:#000000;
heightWrap:14.0;
font-size:14;
width:wrap;
font-family:default;
display:none;
valign:center;
}
 #panel6 {
halign:LEFT;
height:20;
layout:hbox;
background:#ffffff;
width:fill;
valign:bottom;
}
 #panel4 {
halign:LEFT;
height:20;
weight:120;
layout:hbox;
width:0;
valign:bottom;
}
 #label2 {
halign:left;
height:fill;
color:#6f6f6f;
font-size:13;
width:35;
font-family:default;
valign:center;
}
 #label4 {
halign:center;
height:fill;
widthWrap:32.0;
color:#6f6f6f;
font-size:13;
width:wrap;
font-family:default;
valign:center;
}
 #label6 {
halign:left;
height:fill;
widthWrap:32.0;
color:#6f6f6f;
font-size:13;
width:wrap;
margin-left:2;
font-family:default;
valign:center;
}
 #panel7 {
halign:LEFT;
height:20;
weight:123;
layout:hbox;
width:0;
valign:bottom;
}
 #label10 {
halign:center;
height:20;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label3 {
halign:right;
height:20;
widthWrap:60.0;
color:#000000;
font-size:13;
width:wrap;
font-family:default;
valign:center;
}
 #label5 {
halign:left;
height:20;
widthWrap:36.0;
color:#0852a5;
font-size:16;
width:wrap;
font-family:default;
valign:center;
}
 #label7 {
halign:center;
height:20;
widthWrap:36.0;
color:#0852a5;
font-size:16;
width:wrap;
margin-left:2;
font-family:default;
valign:center;
}
 #image0 {
height:12;
width:8;
}
 #label11 {
halign:center;
height:1;
color:#000000;
font-size:14;
background:#c7c7c7;
width:fill;
font-family:default;
valign:center;
}
