 #region1 {
hAlign:center;
height:fill;
width:fill;
layout:relative;
vAlign:center;
}
 #cm_selectcomparefactoryviewRowWidget {
height:300;
layout:hbox;
background:#ff8000;
width:fill;
left:0.0;
valign:center;
top:80.0;
}
 #panel0 {
padding-top:2;
halign:center;
height:44;
background:#FFFFFF;
layout:vbox;
width:fill;
padding-bottom:2;
}
 #panel1 {
halign:center;
height:0;
weight:1;
layout:vbox;
background:#ffffff;
width:320.0;
}
 #panel2 {
height:0;
weight:1;
layout:hbox;
width:fill;
valign:center;
}
 #checkbox0 {
height:44;
color:;
font-size:18;
width:44;
check-on-image:checkbox_select.png;
font-family:default;
check-off-image:checkbox_noselect.png;
}
 #label0 {
hAlign:center;
height:wrap;
widthWrap:34.0;
color:#000000;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
display:none;
vAlign:center;
}
 #label1 {
hAlign:left;
height:wrap;
weight:1;
color:#000000;
heightWrap:23.0;
font-size:16;
width:0;
font-family:default;
vAlign:center;
}
 #label2 {
hAlign:left;
height:wrap;
weight:2;
color:#000000;
heightWrap:23.0;
font-size:16;
width:0;
font-family:default;
vAlign:center;
}
 #label3 {
hAlign:center;
height:1;
color:#000000;
font-size:14;
background:#c7c7c7;
width:fill;
font-family:default;
}
