 #region1 {
height:fill;
layout:relative;
width:fill;
}
 #cm_selectcompareyeargroupRow {
height:55;
layout:hbox;
width:fill;
left:0.0;
valign:center;
top:50.0;
}
 #panel4 {
halign:left;
height:30;
layout:vbox;
width:fill;
}
 #panel21 {
height:29;
layout:hbox;
background:#f8f8f8;
width:fill;
valign:center;
}
 #panel8 {
halign:left;
height:fill;
layout:vbox;
background:#f8f8f8;
width:fill;
}
 #label5 {
hAlign:left;
height:fill;
widthWrap:34.0;
color:#6f6f6f;
font-size:14;
width:wrap;
margin-left:44;
font-family:default;
vAlign:center;
}
 #label0 {
hAlign:center;
height:1;
color:#c7c7c7;
font-size:14;
background:#c7c7c7;
width:fill;
font-family:default;
}
