 #compareFactoryRef {
halign:center;
height:fill;
layout:vbox;
width:fill;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#FFFFFF;
width:fill;
}
 #navigatorbar0 {
padding-right:5;
padding-left:5;
height:44.0;
layout:hbox;
background:#FFFFFF;
font-size:17;
width:fill;
font-family:default;
valign:center;
background-image:themes/normal/designer/nav.png;
}
 #button1 {
hAlign:center;
height:44;
color:#e50011;
pressed-image:btn_back_touch;
font-size:17;
width:88;
background-image-dis:button;
font-family:default;
vAlign:center;
background-image:btn_back;
}
 #label0 {
hAlign:center;
height:20.0;
weight:1;
color:#ffffff;
font-size:16;
width:0;
font-family:Serif;
vAlign:center;
}
 #button0 {
hAlign:center;
height:fill;
color:#e50011;
font-size:17;
width:60;
font-family:default;
vAlign:center;
background-image:themes/normal/designer/button.png;
}
 #viewTitle {
height:44.0;
background:#FFFFFF;
layout:hbox;
width:fill;
valign:center;
}
 #search0 {
height:44;
search-btn-icon:themes/normal/designer/search_left.png;
color:#000000;
font:default;
font-size:14;
width:fill;
search-del-icon:themes/normal/designer/search_right.png;
background-image:search_bg;
}
 #listview0 {
height:fill;
width:fill;
background-image:themes/normal/designer/listview.png;
}
