 #Factory_referlist {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#F5F5F5;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
padding-left:8;
padding-right:8;
halign:LEFT;
height:44.0;
color:#000000;
layout:hbox;
font-size:17;
width:fill;
font-family:default;
valign:center;
background-image:navbar_login.png;
}
 #button0 {
padding-left:20;
halign:left;
height:44;
color:#e50011;
pressed-image:btn_back_touch;
font-size:17;
width:88;
font-family:default;
font-pressed-color:#f2adb2;
valign:center;
background-image:btn_back;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:17;
width:0;
font-family:default;
valign:center;
}
 #button1 {
halign:right;
height:44;
color:#e50011;
font-size:17;
width:88;
font-family:default;
font-pressed-color:#f2adb2;
valign:center;
}
 #search0 {
height:44;
search-btn-icon:search_left.png;
color:#000000;
font:default;
font-size:14;
width:fill;
search-del-icon:search_right.png;
background-image:search_bg;
}
 #listviewdefine0 {
halign:center;
height:0;
weight:1;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel0 {
border-bottom-width:1;
halign:LEFT;
height:30;
background:#f7f7f7;
layout:hbox;
width:fill;
valign:center;
border-bottom-color:#c7c7c7;
}
 #label5 {
halign:center;
height:fill;
widthWrap:34.0;
color:#6f6f6f;
font-size:14;
width:wrap;
margin-left:15;
font-family:default;
valign:center;
}
 #panel6 {
border-bottom-width:1;
halign:LEFT;
height:43.0;
layout:hbox;
background:#FFFFFF;
width:fill;
valign:center;
border-bottom-color:#c7c7c7;
}
 #checkbox0 {
height:44;
width:44;
check-on-image:checkbox_select;
check-off-image:checkbox_noselect;
}
 #label4 {
halign:center;
height:wrap;
widthWrap:34.0;
color:#000000;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #label3 {
halign:left;
height:wrap;
color:#000000;
heightWrap:20.0;
font-size:14;
width:fill;
margin-left:12;
font-family:default;
valign:center;
}
