 #region1 {
height:fill;
width:fill;
layout:relative;
}
 #factoryGroupRow {
height:70;
width:320.0;
layout:hbox;
left:0.0;
valign:center;
top:50.0;
}
 #panel0 {
halign:center;
height:30;
width:fill;
layout:vbox;
}
 #panel1 {
padding-right:15;
height:0;
weight:1;
background:#f8f8f8;
layout:hbox;
width:fill;
valign:center;
}
 #panel2 {
padding-right:8;
halign:center;
height:fill;
background:#f8f8f8;
layout:vbox;
width:fill;
}
 #panel21 {
height:fill;
width:fill;
background:#f8f8f8;
layout:hbox;
valign:center;
}
 #label1 {
hAlign:left;
height:fill;
weight:142;
color:#6f6f6f;
font-size:13;
width:0;
margin-left:8;
font-family:default;
vAlign:center;
}
 #label0 {
hAlign:center;
height:1;
color:#c7c7c7;
font-size:14;
background:#c7c7c7;
width:fill;
font-family:default;
}
