 #factoryref {
halign:center;
height:fill;
layout:vbox;
width:fill;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#FFFFFF;
width:fill;
}
 #navigatorbar0 {
padding-left:8;
padding-right:8;
height:44.0;
color:#000000;
font-size:17;
background:#FFFFFF;
layout:hbox;
width:fill;
font-family:default;
valign:center;
background-image:themes/normal/designer/nav.png;
}
 #button1 {
padding-left:20;
hAlign:left;
height:44;
color:#e50011;
pressed-image:btn_back_touch;
font-size:17;
width:88;
background-image-dis:button;
font-family:default;
vAlign:center;
background-image:btn_back;
}
 #label1 {
hAlign:center;
height:wrap;
widthWrap:34.0;
color:#000000;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
display:none;
}
 #label0 {
hAlign:center;
height:20.0;
weight:1;
color:#ffffff;
font-size:16;
width:0;
font-family:Serif;
vAlign:center;
}
 #viewTitle {
halign:center;
height:44.0;
background:#FFFFFF;
layout:vbox;
width:fill;
}
 #search0 {
height:43;
search-btn-icon:search_left1.png;
color:#000000;
font:default;
font-size:14;
width:fill;
search-del-icon:search_right1.png;
background-image:search_bg1.png;
}
 #listview0 {
height:fill;
width:fill;
background-image:themes/normal/designer/listview.png;
}
