 #mutproductview {
halign:center;
height:fill;
layout:vbox;
width:fill;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#F5F5F5;
width:fill;
}
 #navigatorbar0 {
padding-left:8;
padding-right:8;
height:44.0;
color:#000000;
layout:hbox;
font-size:17;
width:fill;
font-family:default;
valign:center;
background-image:nav.png;
}
 #button3 {
hAlign:center;
height:44;
color:#e50011;
pressed-image:setting_touch.png;
font-size:17;
width:44;
font-family:default;
font-pressed-color:#f2adb2;
vAlign:center;
background-image:setting.png;
}
 #label0 {
hAlign:center;
height:44;
weight:1;
color:#000001;
font-size:17;
width:0;
font-family:default;
vAlign:center;
}
 #button1 {
hAlign:center;
height:44;
color:#e50011;
pressed-image:search_touch.png;
font-size:17;
width:44;
font-family:default;
font-pressed-color:#f2adb2;
vAlign:center;
background-image:search.png;
}
 #panel0 {
halign:center;
height:fill;
layout:vbox;
width:fill;
}
 #panel1 {
height:44;
background:#ffffff;
layout:hbox;
width:fill;
valign:center;
}
 #panel2 {
padding-left:19;
padding-right:15;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #label3 {
hAlign:center;
height:wrap;
color:#000000;
heightWrap:20.0;
font-size:14;
width:30;
font-family:default;
display:none;
vAlign:center;
}
 #label4 {
hAlign:left;
height:fill;
weight:1;
color:#000000;
background:#ffffff;
font-size:16;
width:0;
font-family:default;
vAlign:center;
}
 #image0 {
height:12;
width:8;
}
 #label1 {
hAlign:center;
height:1;
color:#c7c7c7;
background:#c7c7c7;
font-size:14;
width:fill;
font-family:default;
}
 #panel3 {
height:44;
background:#ffffff;
layout:hbox;
width:fill;
margin-top:1;
valign:center;
}
 #panel4 {
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #label8 {
hAlign:center;
height:wrap;
color:#000000;
heightWrap:20.0;
font-size:14;
width:30;
font-family:default;
display:none;
vAlign:center;
}
 #panel7 {
halign:center;
height:fill;
layout:vbox;
width:45;
background:#ffffff;
}
 #button0 {
hAlign:center;
height:25;
color:#e50011;
pressed-image:left_touch_nc.png;
font-size:13;
width:25;
font-family:default;
margin-top:9.5;
font-pressed-color:#f2adb2;
vAlign:center;
background-image:left_nc.png;
}
 #label5 {
hAlign:center;
height:wrap;
color:#000000;
heightWrap:20.0;
font-size:14;
width:12.0;
font-family:default;
display:none;
vAlign:center;
}
 #label10 {
hAlign:center;
height:wrap;
color:#000000;
heightWrap:20.0;
font-size:14;
width:12.0;
font-family:default;
display:none;
vAlign:center;
}
 #label9 {
hAlign:center;
height:fill;
weight:1;
color:#000000;
background:#ffffff;
font-size:16;
width:0;
font-family:default;
display:none;
font-weight:bold;
vAlign:center;
}
 #dateinput0 {
padding-left:4;
padding-top:10;
halign:CENTER;
height:44;
weight:1;
color:#000000;
background:#ffffff;
font-size:17;
width:0;
font-family:default;
}
 #panel8 {
halign:center;
height:fill;
layout:vbox;
width:45;
background:#ffffff;
}
 #button2 {
hAlign:center;
height:25;
color:#e50011;
pressed-image:right_touch_nc.png;
font-size:13;
width:25;
font-family:default;
margin-top:9.5;
font-pressed-color:#f2adb2;
vAlign:center;
background-image:right_nc.png;
}
 #label2 {
hAlign:center;
height:1;
color:#c7c7c7;
background:#c7c7c7;
font-size:14;
width:fill;
font-family:default;
}
 #panel5 {
padding-left:75;
height:44;
layout:hbox;
width:fill;
margin-top:1;
valign:center;
}
 #togglebuttongroup1 {
height:44;
weight:1;
layout:hbox;
width:0;
margin-left:8;
valign:center;
}
 #togglebutton3 {
hAlign:center;
height:42.0;
background-image-off:label_4_left.png;
color:#e50011;
font-size:14;
width:75.5;
font-family:default;
font-pressed-color:#ffffff;
vAlign:center;
background-image-on:label_4_left_touch.png;
}
 #togglebutton4 {
hAlign:center;
height:42.0;
background-image-off:label_4_right.png;
color:#e50011;
font-size:14;
width:75.5;
font-family:default;
font-pressed-color:#ffffff;
vAlign:center;
background-image-on:label_4_right_touch.png;
}
 #panel6 {
margin-right:8;
height:fill;
layout:hbox;
width:70;
margin-left:8;
margin-bottom:6;
margin-top:6;
valign:center;
}
 #imagebutton2 {
hAlign:center;
text-align:left;
width:64;
icon-width:12;
font-pressed-color:#a2e1b7;
icon-height:16;
height:32;
color:#64c101;
font-size:14;
icon-background-image:desc.png;
icon-pressed-image:desc.png;
font-family:default;
vAlign:center;
icon-text-spacing:3;
}
 #label6 {
hAlign:center;
height:1;
color:#c7c7c7;
background:#c7c7c7;
font-size:14;
width:fill;
font-family:default;
}
 #listview0 {
height:0;
weight:1;
background:#f6f6f6;
width:fill;
pressed-color:#ff8000;
}
