 #mutproductdetailview {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#F5F5F5;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
padding-right:8;
padding-left:8;
halign:LEFT;
height:44.0;
color:#000000;
font-size:17;
layout:hbox;
width:fill;
font-family:default;
valign:center;
background-image:nav.png;
}
 #button0 {
padding-left:20;
halign:left;
height:44;
color:#e50011;
pressed-image:btn_back_touch;
font-size:17;
width:88;
font-family:default;
font-pressed-color:#f2adb2;
valign:center;
background-image:btn_back;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#000001;
font-size:17;
width:0;
font-family:default;
valign:center;
}
 #button1 {
halign:right;
height:44;
color:#e50011;
pressed-image:pie_btn_touch.png;
font-size:17;
width:44;
font-family:default;
font-pressed-color:#f2adb2;
valign:center;
background-image:pie_btn.png;
}
 #panel10 {
halign:LEFT;
height:70;
layout:hbox;
background:#f8f8f8;
width:fill;
valign:center;
}
 #panel9 {
halign:center;
height:fill;
layout:vbox;
background:#f8f8f8;
width:70;
valign:TOP;
}
 #image0 {
height:70;
width:44;
}
 #panel0 {
padding-right:15;
halign:left;
height:fill;
weight:1;
layout:vbox;
background:#f8f8f8;
width:0;
valign:TOP;
}
 #panel8 {
halign:LEFT;
height:35;
layout:hbox;
background:#f8f8f8;
width:fill;
valign:top;
}
 #panel11 {
margin-right:8;
halign:LEFT;
height:fill;
widthWrap:120.0;
layout:hbox;
background:#f8f8f8;
width:wrap;
valign:top;
}
 #label1 {
halign:left;
height:20;
widthWrap:50.0;
color:#000000;
font-size:16;
width:wrap;
font-family:default;
margin-top:11;
valign:center;
}
 #panel12 {
halign:LEFT;
height:fill;
layout:hbox;
background:#f8f8f8;
width:50;
valign:top;
}
 #button4 {
halign:center;
pressed-image:compare_btn_touch.png;
width:35;
font-pressed-color:#ffffff;
margin-right:8;
height:18;
color:#ffffff;
font-size:13;
font-family:default;
margin-top:11;
valign:center;
background-image:compare_btn.png;
}
 #panel1 {
halign:LEFT;
height:35;
background:#f8f8f8;
layout:hbox;
width:fill;
valign:top;
}
 #panel13 {
padding-right:8;
halign:LEFT;
height:fill;
weight:1;
layout:hbox;
background:#f8f8f8;
width:0;
valign:top;
}
 #label2 {
halign:left;
height:20;
widthWrap:80.0;
color:#000000;
font-size:13;
width:wrap;
font-family:default;
margin-top:5;
valign:center;
}
 #panel14 {
halign:LEFT;
height:fill;
layout:hbox;
background:#f8f8f8;
width:104;
valign:top;
}
 #label20 {
halign:center;
height:20;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label3 {
margin-right:8;
halign:right;
height:20;
color:#000000;
font-size:13;
width:53.0;
font-family:default;
margin-top:5;
valign:center;
}
 #panel2 {
halign:LEFT;
height:35;
layout:hbox;
width:50;
valign:top;
}
 #button5 {
halign:center;
height:18;
color:#ffffff;
pressed-image:compare_btn_touch.png;
font-size:13;
width:35;
font-family:default;
margin-top:5;
font-pressed-color:#ffffff;
valign:center;
background-image:compare_btn.png;
}
 #label18 {
margin-right:15;
halign:center;
height:1;
color:#c7c7c7;
background:#d2d2d2;
font-size:14;
width:fill;
margin-left:20;
font-family:default;
valign:center;
}
 #panel3 {
padding-left:15;
padding-right:15;
padding-top:5;
halign:LEFT;
height:100;
background:#f8f8f8;
layout:hbox;
width:fill;
valign:center;
padding-bottom:5;
}
 #panel5 {
padding-left:5;
padding-right:5;
halign:center;
height:fill;
background:#f8f8f8;
layout:vbox;
width:84;
valign:TOP;
}
 #panel17 {
halign:LEFT;
height:29;
layout:hbox;
width:fill;
valign:center;
}
 #label10 {
halign:left;
height:fill;
widthWrap:57.0;
color:#000000;
font-size:16;
width:wrap;
font-family:default;
valign:center;
}
 #label25 {
halign:center;
height:1;
color:#000000;
font-size:14;
background:#d2d2d2;
width:fill;
font-family:default;
valign:center;
}
 #panel18 {
halign:LEFT;
height:29;
layout:hbox;
width:fill;
valign:center;
}
 #label7 {
halign:left;
height:fill;
color:#000000;
font-size:16;
width:40;
font-family:default;
valign:center;
}
 #label26 {
halign:center;
height:1;
color:#000000;
font-size:14;
background:#d2d2d2;
width:fill;
font-family:default;
valign:center;
}
 #panel19 {
halign:LEFT;
height:30;
layout:hbox;
width:fill;
valign:center;
}
 #label4 {
halign:left;
height:fill;
widthWrap:74.0;
color:#000000;
font-size:16;
width:wrap;
font-family:default;
valign:center;
}
 #panel7 {
halign:center;
height:fill;
layout:vbox;
background:#d2d2d2;
width:1;
margin-top:6;
valign:TOP;
}
 #panel6 {
padding-left:5;
halign:center;
height:fill;
background:#f8f8f8;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel4 {
halign:LEFT;
height:29;
layout:hbox;
width:fill;
valign:center;
}
 #label12 {
halign:right;
height:fill;
color:#0852a5;
font-size:16;
width:fill;
font-family:default;
valign:center;
}
 #label17 {
halign:center;
height:1;
color:#000000;
font-size:14;
background:#d2d2d2;
width:fill;
font-family:default;
valign:center;
}
 #panel15 {
halign:LEFT;
height:29;
layout:hbox;
width:fill;
valign:center;
}
 #label8 {
halign:right;
height:fill;
color:#000000;
font-size:16;
width:fill;
font-family:default;
valign:center;
}
 #label21 {
halign:center;
height:1;
color:#000000;
font-size:14;
background:#d2d2d2;
width:fill;
font-family:default;
valign:center;
}
 #panel16 {
halign:LEFT;
height:30;
layout:hbox;
width:fill;
valign:center;
}
 #label6 {
halign:right;
height:fill;
color:#0852a5;
font-size:16;
width:fill;
font-family:default;
valign:center;
}
 #label19 {
halign:center;
height:1;
color:#c7c7c7;
background:#c7c7c7;
font-size:14;
width:fill;
font-family:default;
valign:center;
}
 #listview0 {
weight:1;
height:0;
background:#f6f6f6;
width:fill;
}
