 #region1 {
height:fill;
layout:relative;
width:fill;
}
 #mutproductviewRow {
halign:center;
height:70;
layout:vbox;
background:#ffffff;
width:320.0;
left:0.0;
top:160.0;
pressed-color:#ff8000;
}
 #panel9 {
halign:center;
height:70;
layout:vbox;
width:fill;
}
 #panel0 {
height:69;
background:#ffffff;
layout:hbox;
width:fill;
valign:center;
padding-bottom:1;
}
 #panel1 {
height:fill;
background:#ffffff;
layout:hbox;
width:50;
valign:center;
}
 #panel4 {
halign:center;
height:fill;
layout:vbox;
width:fill;
padding-bottom:1;
}
 #image1 {
height:fill;
width:44;
}
 #panel22 {
padding-right:15;
height:fill;
weight:1;
layout:hbox;
width:0;
valign:center;
}
 #panel2 {
padding-top:12;
height:fill;
weight:1;
background:#ffffff;
layout:hbox;
width:0;
valign:center;
padding-bottom:10;
}
 #panel3 {
padding-right:8;
halign:center;
height:fill;
background:#ffffff;
layout:vbox;
width:fill;
}
 #panel5 {
height:17;
background:#ffffff;
layout:hbox;
width:fill;
margin-bottom:8;
valign:top;
}
 #label0 {
hAlign:left;
height:fill;
weight:123;
color:#000000;
font-size:13;
width:0;
font-family:default;
vAlign:center;
}
 #panel6 {
height:20;
background:#ffffff;
layout:hbox;
width:fill;
valign:bottom;
}
 #panel7 {
height:fill;
weight:110;
layout:hbox;
width:0;
valign:bottom;
}
 #label2 {
hAlign:left;
height:20;
color:#6f6f6f;
font-size:13;
width:35;
font-family:default;
vAlign:center;
}
 #label1 {
hAlign:center;
height:20;
widthWrap:32.0;
color:#6f6f6f;
font-size:13;
width:wrap;
font-family:default;
vAlign:center;
}
 #label6 {
hAlign:left;
height:20;
widthWrap:14.0;
color:#6f6f6f;
font-size:13;
width:wrap;
margin-left:2;
font-family:default;
vAlign:center;
}
 #panel8 {
height:fill;
weight:180;
layout:hbox;
width:0;
valign:bottom;
}
 #label11 {
hAlign:center;
height:20;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
}
 #label3 {
hAlign:left;
height:20;
widthWrap:60.0;
color:#000000;
font-size:13;
width:wrap;
font-family:default;
vAlign:center;
}
 #label4 {
hAlign:right;
height:20;
widthWrap:13.0;
color:#0852a5;
font-size:16;
width:wrap;
font-family:default;
vAlign:center;
}
 #label7 {
hAlign:right;
height:20;
widthWrap:36.0;
color:#0852a5;
font-size:16;
width:wrap;
margin-left:2;
font-family:default;
vAlign:center;
}
 #image0 {
height:12;
width:8;
}
 #label5 {
hAlign:center;
height:1;
color:#000000;
background:#c7c7c7;
font-size:14;
width:fill;
font-family:default;
}
