 #region1 {
height:fill;
layout:relative;
width:fill;
}
 #mutproductdetailviewRow {
height:70;
layout:hbox;
width:320.0;
left:0.0;
valign:center;
top:160.0;
}
 #panel8 {
halign:center;
height:70;
layout:vbox;
width:fill;
}
 #panel0 {
height:69;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
padding-bottom:1;
}
 #panel1 {
padding-left:10;
padding-right:10;
height:fill;
background:#ffffff;
layout:hbox;
width:50;
valign:center;
}
 #label1 {
hAlign:center;
height:wrap;
widthWrap:34.0;
color:#000000;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
display:none;
vAlign:center;
}
 #image1 {
height:30;
width:30;
}
 #panel22 {
padding-right:15;
height:fill;
weight:1;
layout:hbox;
width:0;
valign:center;
}
 #panel2 {
padding-top:12;
height:fill;
weight:1;
background:#ffffff;
layout:hbox;
width:0;
valign:center;
padding-bottom:10;
}
 #panel3 {
halign:center;
height:fill;
layout:vbox;
background:#ffffff;
width:fill;
}
 #panel5 {
height:20;
layout:hbox;
background:#ffffff;
width:fill;
margin-bottom:8;
valign:top;
}
 #panel7 {
height:20;
weight:123;
layout:hbox;
width:0;
valign:center;
}
 #label0 {
hAlign:left;
height:20;
color:#000000;
font-size:16;
width:160;
font-family:default;
vAlign:center;
}
 #panel4 {
height:20;
weight:120;
layout:hbox;
width:0;
valign:center;
}
 #label7 {
hAlign:center;
height:20;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
}
 #label4 {
hAlign:right;
height:fill;
widthWrap:36.0;
color:#0852a5;
font-size:16;
width:wrap;
font-family:default;
}
 #label5 {
hAlign:right;
height:wrap;
widthWrap:36.0;
color:#0852a5;
heightWrap:23.0;
font-size:16;
width:wrap;
font-family:default;
vAlign:center;
}
 #panel6 {
height:17;
layout:hbox;
background:#ffffff;
width:fill;
valign:bottom;
}
 #label2 {
hAlign:left;
height:fill;
color:#6f6f6f;
font-size:13;
width:46;
font-family:default;
vAlign:center;
}
 #label6 {
hAlign:center;
height:fill;
widthWrap:34.0;
color:#6f6f6f;
font-size:14;
width:wrap;
font-family:default;
}
 #label3 {
hAlign:left;
height:fill;
widthWrap:32.0;
color:#6f6f6f;
font-size:13;
width:wrap;
font-family:default;
vAlign:center;
}
 #label8 {
hAlign:center;
height:1;
color:#000000;
background:#c7c7c7;
font-size:14;
width:fill;
font-family:default;
}
