 #region1 {
height:fill;
layout:relative;
width:fill;
}
 #mutproductviewRow {
halign:center;
height:70;
background:#ffffff;
layout:vbox;
width:320.0;
left:0.0;
valign:TOP;
top:160.0;
pressed-color:#ff8000;
}
 #panel9 {
halign:center;
height:70;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel0 {
halign:LEFT;
height:69;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
padding-bottom:1;
}
 #panel1 {
halign:LEFT;
height:fill;
background:#ffffff;
layout:hbox;
width:50;
valign:center;
}
 #panel4 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
padding-bottom:1;
}
 #image1 {
height:fill;
width:44;
}
 #panel22 {
padding-right:15;
halign:LEFT;
height:fill;
weight:1;
layout:hbox;
width:0;
valign:center;
}
 #panel2 {
padding-top:12;
halign:LEFT;
height:fill;
weight:1;
layout:hbox;
background:#ffffff;
width:0;
valign:center;
padding-bottom:10;
}
 #panel3 {
padding-right:8;
halign:center;
height:fill;
layout:vbox;
background:#ffffff;
width:fill;
valign:TOP;
}
 #panel5 {
halign:LEFT;
height:17;
layout:hbox;
background:#ffffff;
width:fill;
margin-bottom:8;
valign:top;
}
 #label0 {
halign:left;
height:fill;
weight:123;
color:#000000;
font-size:13;
width:0;
font-family:default;
valign:center;
}
 #panel6 {
halign:LEFT;
height:20;
background:#ffffff;
layout:hbox;
width:fill;
valign:bottom;
}
 #label2 {
halign:left;
height:20;
weight:2;
color:#6f6f6f;
font-size:13;
width:0;
font-family:default;
valign:center;
}
 #label3 {
halign:right;
height:20;
weight:3;
color:#0852a5;
font-size:16;
width:0;
margin-left:8;
font-family:default;
valign:center;
}
 #image0 {
height:12;
width:8;
}
 #label5 {
halign:center;
height:1;
color:#000000;
font-size:14;
background:#c7c7c7;
width:fill;
font-family:default;
valign:center;
}
