 #mutproductviewwithgraph {
halign:center;
height:fill;
layout:vbox;
width:fill;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#F5F5F5;
width:fill;
}
 #panel2 {
halign:center;
weight:1;
height:0;
layout:vbox;
width:fill;
}
 #navigatorbar0 {
padding-left:8;
padding-right:8;
height:44.0;
color:#323232;
layout:hbox;
font-size:17;
width:fill;
font-family:default;
valign:center;
background-image:navbar_login.png;
}
 #button0 {
padding-left:20;
hAlign:left;
height:44;
color:#e50011;
pressed-image:btn_back_touch;
font-size:20;
width:88;
font-family:default;
font-pressed-color:#f2adb2;
vAlign:center;
background-image:btn_back;
}
 #label0 {
hAlign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
}
 #button1 {
hAlign:right;
height:44;
widthWrap:44.0;
color:#e50011;
font-size:20;
width:wrap;
font-family:default;
font-pressed-color:#f2adb2;
vAlign:center;
}
 #webcontrol0 {
halign:center;
height:fill;
layout:vbox;
width:fill;
}
