 #Productquery_login {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#EFEFF4;
width:fill;
valign:TOP;
}
 #panel1 {
halign:center;
height:160;
layout:vbox;
width:fill;
valign:TOP;
}
 #image3 {
height:72;
width:72;
margin-top:40;
}
 #label5 {
halign:center;
height:wrap;
widthWrap:46.0;
color:#333333;
heightWrap:25.0;
font-size:17;
width:wrap;
font-family:default;
margin-top:5;
valign:center;
}
 #label0 {
halign:center;
height:1;
color:#C7C7C7;
font-size:14;
background:#C7C7C7;
width:fill;
font-family:default;
valign:center;
}
 #panel2 {
halign:center;
height:92;
background:#ffffff;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel3 {
halign:LEFT;
height:45;
layout:hbox;
width:fill;
valign:center;
}
 #image0 {
height:16;
width:16;
margin-left:26;
}
 #textbox0 {
margin-right:12;
halign:LEFT;
height:fill;
weight:1;
color:#333333;
font-size:15;
width:0;
margin-left:13;
font-family:default;
}
 #label3 {
halign:center;
height:1;
color:#000000;
background:#C7C7C7;
font-size:14;
width:fill;
font-family:default;
valign:center;
}
 #panel4 {
halign:LEFT;
height:45;
layout:hbox;
width:fill;
valign:center;
}
 #image1 {
height:16;
width:16;
margin-left:26;
}
 #textbox1 {
margin-right:12;
halign:LEFT;
height:fill;
weight:1;
color:#333333;
font-size:15;
width:0;
margin-left:13;
font-family:default;
}
 #label4 {
halign:center;
height:1;
color:#000000;
font-size:14;
background:#C7C7C7;
width:fill;
font-family:default;
valign:center;
}
 #panel0 {
margin-right:12;
halign:LEFT;
height:32;
layout:hbox;
width:fill;
margin-left:12;
margin-top:12;
valign:center;
}
 #button0 {
halign:left;
color:#fd2009;
font-size:16;
width:72;
}
 #label2 {
halign:center;
height:14.0;
weight:1;
color:#000000;
font-size:12;
width:0;
font-family:default;
valign:center;
}
 #label1 {
margin-right:6;
halign:right;
height:fill;
color:#959597;
font-size:16;
width:90.0;
font-family:default;
valign:center;
}
 #switch0 {
height:fill;
background:#00CD00;
width:51;
background-image-dis:slideswitch;
}
 #button2 {
halign:center;
pressed-image:btn_zc_press.png;
width:fill;
background-image-dis:btn_zc_.png;
margin-right:12;
height:44;
color:#ffffff;
font-size:20;
margin-left:12;
font-family:default;
margin-top:12;
valign:center;
background-image:btn_zc.png;
}
 #panel5 {
halign:center;
height:0;
weight:1;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel6 {
halign:center;
height:20;
layout:vbox;
width:fill;
margin-bottom:24;
valign:TOP;
}
 #image2 {
height:17;
width:45;
}
